.calculator--section {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  height: 611px;
}
.calculator--section h1 {
  padding: 20px 20px 0 20px;
  font-size: 16px;
  font-weight: 700;
  color: hsl(202, 55%, 16%);
  text-align: left;
}
.calculator--section .clear-button {
  padding: 0 20px;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  color: hsl(200, 26%, 54%);
  font-size: 12px;
  margin-bottom: 20px;
}
.calculator--section .clear-button:hover {
  color: hsl(200, 24%, 40%);
}
.calculator--section form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.calculator--section form .input-text--form {
  border: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.calculator--section form .input-text--form legend {
  font-size: 16px;
  font-weight: 700;
  color: hsl(200, 26%, 54%);
}
.calculator--section form .input-text--form div {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid hsl(203, 41%, 72%);
  border-radius: 5px;
  height: 50px;
  position: relative;
  width: 100%;
}
.calculator--section form .input-text--form div label {
  padding: 14px;
  font-size: 16px;
  font-weight: 700;
  color: hsl(202, 55%, 16%);
  background-color: hsl(202, 86%, 94%);
}
.calculator--section form .input-text--form div input {
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: hsl(202, 55%, 16%);
  width: 100%;
  border-radius: 5px;
}
.calculator--section form .input-text--form div input:focus {
  outline: none;
}
.calculator--section form .input-text--form div:focus-within {
  border: 1px solid hsl(61, 70%, 52%);
  transition: 1s ease;
}
.calculator--section form .input-text--form div:focus-within label {
  background-color: hsl(61, 70%, 52%);
  transition: 1s ease;
}
.calculator--section form .inputs-radio--form {
  display: flex;
  flex-direction: column;
  border: none;
}
.calculator--section form .inputs-radio--form legend {
  font-size: 16px;
  font-weight: 700;
  color: hsl(200, 26%, 54%);
}
.calculator--section form .inputs-radio--form div {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid hsl(203, 41%, 72%);
  border-radius: 5px;
}
.calculator--section form .inputs-radio--form div input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.calculator--section form .inputs-radio--form div input {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid hsl(61, 70%, 52%);
  vertical-align: -2px;
  outline: none;
}
.calculator--section form .inputs-radio--form div input::before {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: hsl(61, 70%, 52%);
  font-size: 10px;
  transform: translate(3px, 3px) scale(0);
  transform-origin: center;
  transition: all 0.3s ease-in;
}
.calculator--section form .inputs-radio--form div input:checked::before {
  transform: translate(3px, 3px) scale(1);
  transition: all 0.3s cubic-bezier(0.215, 0.25, 0.56, 2);
}
.calculator--section form .inputs-radio--form div label {
  font-size: 16px;
  font-weight: 700;
  color: hsl(202, 55%, 16%);
}
.calculator--section form .inputs-radio--form div:hover {
  border: 1px solid hsl(61, 70%, 52%);
}
.calculator--section form .inputs-radio--form div:focus-within {
  border: 1px solid hsl(61, 70%, 52%);
  transition: 1s ease;
  background: hsla(61, 70%, 52%, 0.259);
}
.calculator--section form button {
  margin: 20px 0;
  padding: 20px 10px;
  background-color: hsl(61, 70%, 52%);
  font-size: 16px;
  font-weight: 700;
  color: hsl(202, 55%, 16%);
  border: none;
  border-radius: 100vh;
  position: relative;
  max-width: 350px;
}
.calculator--section form button span {
  width: 24px;
  height: 24px;
  display: block;
  background-image: url("../assets/images/icon-calculator.svg");
  position: absolute;
  left: 30px;
  top: 30%;
}
.calculator--section form button:hover {
  background-color: hsla(61, 70%, 52%, 0.34);
}/*# sourceMappingURL=calculator-section.css.map */