//imports
@import "./variables.scss";
@import "./desktop.scss";
@import "./calculator-section.scss";
@import "./result-section.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $font-stack;
    background-color: $color-Slate-100;
}

main{
    @include desktop{
    display: grid;

    height: 100vh;
    .main--container{    
            display: flex;
            justify-self: center;
            align-self: center;
            background-color: $color-White;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            .calculator--section{
                margin: 0;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                form{
                    article{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 10px;
                        div{
                            width: 100%;
                            min-width: none;
                        
                        }

                    }
                }
            }
            .empty--results{
                margin: 0;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 70px;
            }
        }    
    }
}



.attribution{
    width: 90%;

    p{
        text-align: center;
        font-size: $paragraph-size;
        font-weight: $weight-medium;


    }
}

